      body {
        position: relative;
      }

      /* nav bar*/

      .navbar-default {
        border-color: transparent;
        background-color: #222;
      }

      .navbar-default .navbar-brand {
        font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
        color: #1ee2e7;
      }

      .navbar-default .navbar-brand:hover,
      .navbar-default .navbar-brand:focus,
      .navbar-default .navbar-brand:active {
        color: #fec503;
      }



      .navbar-default .navbar-collapse {
        border-color: rgba(255, 255, 255, .02);
      }

      .navbar-default .navbar-toggle {
        border-color: #1ee2e7;
        background-color: #1ee2e7;
      }

      .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff;
      }

      .navbar-default .navbar-toggle:hover,
      .navbar-default .navbar-toggle:focus {
        background-color: #1ee2e7;
      }

      .navbar-default .nav li a {
        text-transform: uppercase;
        font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 400;
        letter-spacing: 1px;
        color: #fff;
      }

      .navbar-default .nav li a:hover,
      .navbar-default .nav li a:focus {
        outline: 0;
        color: #1ee2e7;
      }

      .navbar-default .navbar-nav>.active>a {
        border-radius: 0;
        color: #fff;
        background-color: #1ee2e7;
      }

      .navbar-default .navbar-nav>.active>a:hover,
      .navbar-default .navbar-nav>.active>a:focus {
        color: #fff;
        background-color: #17d0d5;
      }
      /* end  nav bar*/

      /*   nav bar  version mobile*/

      @media(min-width:768px) {
        .navbar-default {
          padding: 25px 0;
          border: 0;
          background-color: transparent;
          -webkit-transition: padding .3s;
          -moz-transition: padding .3s;
          transition: padding .3s;
        }

        .navbar-default .navbar-brand {
          font-size: 2em;
          -webkit-transition: all .3s;
          -moz-transition: all .3s;
          transition: all .3s;
        }

        .navbar-default .navbar-nav>.active>a {
          border-radius: 3px;
        }

        .navbar-default.navbar-shrink {
          padding: 1px 0;
          background-color: #222;
        }

        .navbar-default.navbar-shrink .navbar-brand {
          font-size: 1.5em;
        }
      }
      /*  end nav bar  version mobile*/



      /* header */

      header {
        text-align: center;
        color: #fff;
        background-attachment: fixed;
        background-image: url('https://images.unsplash.com/photo-1557264322-b44d383a2906?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80');
        background-position:  center;
        background-repeat: none;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
      }


      header .intro-text .intro-heading {
        width:350px;
        position:relative;
        top:30%;
        left:50%;
        left: 75rem;
        top: -14rem;
        margin-bottom: 25px;
        text-transform: uppercase;
        font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 50px;
        font-weight: 700;
        line-height: 50px;
        
      }
      /*  end header*/

      /* ползунок для перемотки с header вниз*/

      @keyframes progress {
        from {
          width: 0;
        }
        to {
          width: 100%;
        }
      } 
      .arrow {
        cursor:pointer;
        position:relative;
        animation-name: jump;
        animation-duration: 2s;
        animation-iteration-count: infinite;
      }

      @keyframes jump {
        0% {
        top:0px;
        }
        50% {
          top:10px;
        }
        100% {
          top:0px;
        }
      } 
      /*end*/


      @media(min-width:768px) {
        header .intro-text {
          padding-top: 300px;
          padding-bottom: 200px;
        }

        header .intro-text .intro-heading {
          margin-bottom: 50px;
          text-transform: uppercase;
          font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
          font-size: 75px;
          font-weight: 700;
          line-height: 75px;
        }
      }
      /*SEctions 1-3*/

      #section1 {
        background-attachment: fixed;
        padding-top: 50px;
        /* height: 1200px; */
        color: rgb(7, 7, 7);
        background: linear-gradient(to right, rgb(101, 153, 153), rgb(244, 121, 31));
      }

      #section2 {
        background-attachment: fixed;
        padding-top: 50px;
        height: 250px;
        color: #fff;
        background-color: #673ab7;
      }

      #section3 {
        background-attachment: fixed;
        padding-top: 50px;
        
        color: #fff;
        background: linear-gradient(to right, rgb(101, 153, 153), rgb(244, 121, 31));
      }
      /* End SEctions 1-3*/


      .container {
        max-width: 100rem;
        margin: 0 auto;
        padding: 0 1rem 1rem;
      }


      *,
      *::before,
      *::after {
        box-sizing: border-box;
      }

      .main {
        max-width: 1200px;
        margin: 0 auto;
      }


      h1 {
        text-align: center;
        font-size: 4rem;
        color: #000000;
      
        font-family: 'Bungee', cursive;

      }


      h1 span {color: #B3B04F;}


      img {
        height: 350px;
        vertical-align: middle;
      }

      .btn {
        color: #17d0d5;
        padding: 0.8rem;
        font-size: 14px;
        text-transform: uppercase;
        border-radius: 4px;
        font-weight: 400;
        display: block;
        width: 100%;
        cursor: pointer;
        border: 1px solid rgba(255, 255, 255, 0.2);
        background: transparent;
      }

      .btn:hover {
        background-color: rgba(255, 255, 255, 0.12);
      }

      /* card */

      .cards {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        margin: 0;
        padding: 0;
      }

      .cards_item {
        display: flex;
        padding: 2rem;
      }

      .fade.in {
        opacity: 1;
        display: table !important;
      }

      @media (min-width: 40rem) {
        .cards_item {
          width: 50%;
        }
      }

      @media (min-width: 56rem) {
        .cards_item {
          width: 33.3333%;
        }
      }

      .card {
        background-color: white;
        border-radius: 0.25rem;
        box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
        display: flex;
        flex-direction: column;
        overflow: hidden;
        box-shadow: -1px 1px 25px -5px rgb(0, 217, 255);
      }

      .card_content {
        padding: 1rem;
        background:linear-gradient(to bottom left, #2d366a 35%, #436a7c 95%);
      }

      .card_title {
        color: #ffffff;
        font-size: 1.5rem;
        font-weight: 700;
        letter-spacing: 1px;
        text-transform: capitalize;
        margin: 0px;
      }

      .card_text {
        color: #ffffff;
        font-size: 1rem;
        line-height: 1.5;
        margin-bottom: 1.25rem;
        font-weight: 400;
      }

      /* card img*/

      .imgitem{
        
      }

      button.card_btn:active {
        color: white;
      }
      /*end card*/

      /*Window Mondal*/

      #myModal {
        overflow: hidden;
        width: 100px;
        height: 100px;
        margin: 0 auto;
        position: fixed;
        left: 0;
        right: 0;
        top: 50%;

        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);

      }

      .modal-dialog {
        margin-right: 0;
        margin-left: 0;
      }

      .modal-header {
        height: 30px;
        padding: 20px;
        background-color: #18456b;
        color: white;
      }

      .modal-title {
        margin-top: -10px;
        font-size: 16px;
      }

      .modal-header .close {
        margin-top: -10px;
        color: #fff;
      }

      .modal-body {
        
          color: #000;
          padding: 5px 35px 20px;
          background-color: #CDDC39;
      }

      .modal-body h3 {
        text-align: center;
      }

      .modal-body p {
        padding-top: 10px;
        font-size: 1.1em;
      }

      .modal-footer {
        padding: 15px;
        text-align: right;
        border-top: 1px
        solid #e5e5e5;
        background-color: #18456b;
      }

      /* modam1 img*/

      .centrer {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height:224px;
      }



      /*размер модального окна*/

      .classA{
        width: 100vw;
       
        
      }
      /* End Modal*/
      /*конец размер модального окна*/



        

      h2{
        color:#000;
        text-align:center;
        font-size:2em;
      }

      /*Radio*/
      /* часть кликабельной части*/

      .warpper{
        display:flex;
        flex-direction: column;
        align-items: center;
        
      }
      /*Tabs*/
      /* часть кликабельной части*/

      .tab{
        cursor: pointer;
        padding:10px 20px;
        margin:0px 2px;
        background:#000;
        display:inline-block;
        color:#fff;
        border-radius:3px 3px 0px 0px;
        box-shadow: 0 0.5rem 0.8rem #00000080;
      }

      /*Panels*/
      /* часть панели с текстом*/

      .panels{
        background: linear-gradient(to right, rgb(101, 153, 153), rgb(244, 121, 31));
        box-shadow: 0 2rem 2rem #00000080;
        width:100%;
      max-width: 520px;
        border-radius:3px;
        overflow:hidden;
        padding:20px; 
        box-shadow: 0px 12px 25px -8px rgb(255, 255, 255);
      }
      .panel{
        display:none;
        animation: fadein .8s;
      }
      @keyframes fadein {
          from {
              opacity:0;
          }
          to {
              opacity:1;
          }
      }
      .panel-title{
        font-size:1.5em;
        font-weight:bold
      }
      /*Radio*/

      .radio{
        display:none;
      }
      #one:checked ~ .panels #one-panel,
      #two:checked ~ .panels #two-panel,
      #three:checked ~ .panels #three-panel,
      #four:checked ~ .panels #four-panel,
      #five:checked ~ .panels #five-panel,
      #six:checked ~ .panels #six-panel,
      #seven:checked ~ .panels #seven-panel,
      #eight:checked ~ .panels #eight-panel{
        display:block
      }
      #one:checked ~ .tabs #one-tab,
      #two:checked ~ .tabs #two-tab,
      #three:checked ~ .tabs #three-tab,
      #four:checked ~ .tabs #four-tab
      #five:checked ~ .tabs #five-tab
      #six:checked ~ .tabs #six-tab
      #seven:checked ~ .tabs #seven-tab
      #eight:checked ~ .tabs #eight-tab{

        
        background:#fffffff6;
        color:black;
        border-top: 3px solid #000;
      }


      #one-panel,#two-panel,#three-panel,#four-panel,#five-panel,#six-panel,#seven-panel,#eight-panel{
        background: linear-gradient(to right, rgb(101, 153, 153), rgb(244, 121, 31));
        
      }
      /*end*/

      /* Contact me */

      form { max-width:420px; margin:50px auto; }

      .feedback-input {
        
        backdrop-filter: sepia(1);
        font-size: 18px;
        border-radius: 5px;
        line-height: 22px;
        border:2px solid #000000;
        transition: all 0.3s;
        padding: 13px;
        margin-bottom: 15px;
        width:100%;
        box-sizing: border-box;
        color: #000;
        
      }

      textarea {
        height: 150px;
        line-height: 150%;
        resize:vertical;
        color:#000
      }

      [type="submit"] {
        font-family: 'Montserrat', Arial, Helvetica, sans-serif;
        width: 100%;
        background:  #000000 ;
        border-radius:5px;
        border:0;
        cursor:pointer;
        color:white;
        font-size:24px;
        padding-top:10px;
        padding-bottom:10px;
        transition: all 0.3s;
        margin-top:-4px;
        font-weight:700;
        box-shadow: 0px 12px 25px 2px rgb(255 255 255);
      }
      [type="submit"]:hover { background: #2d366a ; }
      /* End Contact me */

      /*footer*/

      * {
        box-sizing: border-box;
      }

      .footer-links {
        background-color: #131313;
        padding: 40px 0 30px;
      }
      .footer-links-social,
      .footer-links-menu{
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        list-style:none;
        padding-left: 0;
        width: 400px;
      }
      .footer-social-icon {
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        background-color: rgb(85, 85, 85);
        border-radius: 50%;
      }
      .footer-social-icon:hover {
        background-color: #000;
        cursor:pointer;
      }
      .footer-social-icon a{
        color: #fff;
        text-decoration: none;
      }
      .footer-links-menu a {
        color: #9b9b9b;
        text-decoration: none;
      }
      .footer-links-menu a:hover {
        color: #fff;
      }
      .footer-links-menu li {
        font-size: 13px;
        margin-top: 10px;
        padding: 5px;
        
      }
      .footer-legal {
        background-color: #000;
        padding: 20px 0;
        font-size: 13px;
        color: #fff;
        text-align: center;
      }

      .footer-heart {
        color: #f42;
      }
      /*end footer*/




      